<form [formGroup]="registerForm" class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="firstName" class="form-label">İsim</label>
    <input type="text"  formControlName="firstName" class="form-control" id="firstName" />
  </div>
  <br>
  <div class="col-md-4">
    <label for="lastName" class="form-label">Soyisim</label>
    <input type="text" formControlName="lastName" class="form-control" id="lastName" />
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" formControlName="email" class="form-control" id="email" />
  </div>
  <div class="col-md-6">
    <label for="floatingPassword" class="form-label">Parola</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="floatingPassword"
    />
  </div>

  <div class="col-12"></div>
  <div class="col-12">
    <button class="btn btn-primary"  (click)="register()" routerLink="/login">Kayıt Ol</button>
  </div>
</form>
